*{
    font-family: 'Rubik', sans-serif !important;
}

html,body {
    height: 100%;
    width: 100%;
}

.container {
    padding: 0.4rem 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-bottom: 0.1rem solid black;
}

#logo {
    padding: 0 1.5rem;
}

nav {
    padding: 0 1.5rem;
}

nav a {
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background-color: black;
    border-radius: 0.2rem;
    color: white;
}

nav a:hover {
    background-color: gray;
}

#sliders {
    padding: 0 2rem;
    margin: 0 auto;
    height: 44vw;
}

.slider-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

.slider-title {
    font-family: 'Proza Libre', sans-serif !important;
    font-size: 4rem;
    color: white;
    -webkit-text-stroke: 0.1rem black;
    font-weight: bold;
}

.slider-button {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background-color: black;
    border-radius: 0.2rem;
    color: white;
}

.slider-button:hover {
    background-color: gray;
}

#projects {
    display: flex;
    flex-direction: column;
}

.projects-row {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.project {
    width: 22vw;
    height: 22vw;
    text-align: center;
    text-decoration: none;
}

.project-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
}

.project-title{
    font-size: 1.2rem;
}